extends layout
block content
 h1= title
 form(id='echoForm', action="/resource/echo", method="POST")
    div.form-group
        label.echoAttr(for='name') echo name
        input#echo_type(type='text', name='name')
    div.form-group
        label.echoAttr(for='model') echo model
        input#size(type='text', name='model')
    div.form-group
        label.echoAttr(for='frquency') echo frquency
        input#frquency(type='number', name='frquency')
    input(type="submit")
 script.
    document.forms['echoForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
            alert("Save failed " + error )
        });
    });